@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #fff;
  font-family: 'Poppins', sans-serif;
}

.nav-logo,
i {
  color: #6b21a8;
}

.nav-logo {
  border-color: #6b21a8;
}
